<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.adaptlab.chpir.android.participanttracker"
    android:versionCode="19"
    android:versionName="1.4.9" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="org.adaptlab.chpir.android.survey.LAUNCH_SURVEY" />
    <uses-permission android:name="org.adaptlab.chpir.android.survey.LIST_INSTRUMENTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.activeandroid.app.Application"  >
        <activity
            android:name=".ParticipantListActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                   android:resource="@xml/searchable"/>
            <meta-data
                   android:name="android.app.default_searchable"
                   android:value=".ParticipantListActivity" />
        </activity>
        <activity android:name=".AdminActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <service android:name="org.adaptlab.chpir.android.activerecordcloudsync.PollService" />
        <receiver android:name="org.adaptlab.chpir.android.participanttracker.Receivers.InstrumentListReceiver">
            <intent-filter>
                <action android:name="org.adaptlab.chpir.android.survey.instrument_list" />
            </intent-filter>
        </receiver>
        <activity android:name=".ParticipantDetailActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".NewParticipantActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".LoginActivity"  
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <meta-data android:name="AA_DB_NAME" android:value="Tracking.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="8" />
        <meta-data android:name="com.crashlytics.ApiKey" android:value="@string/crashlytics_api_key"/>   
    </application>

</manifest>
