<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.adaptlab.chpir.android.participanttracker"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.activeandroid.app.Application"  >
        <activity
            android:name=".ParticipantListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="org.adaptlab.chpir.android.participanttracker.Receivers.InstrumentListReceiver">
            <intent-filter>
                <action android:name="org.adaptlab.chpir.android.survey.instrument_list" />
            </intent-filter>
        </receiver>
        <activity android:name=".ParticipantDetailActivity" />
        <activity android:name=".NewParticipantActivity" />
        <meta-data android:name="AA_DB_NAME" android:value="Tracking.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="2" />   
    </application>

</manifest>
